.stuff
{
    font-family: "Hakugyokuro";
    font-size: 20px;
}

.BG
{
    position: absolute;
    z-index: -1;
    width: 1200px;
    margin-left: -100px;
    margin-top: -200px;
}

.gif 
{
    position: absolute;
    z-index: -1;
    width: 2000px;
    margin-left: -100px;
    margin-top: -350px;
}




@font-face
{
    font-family: "Hakugyokuro";
    src: url(Hakugyokurou.ttf);
}